<% layout("/layouts/boilerplate") %>
<body>
    <div id="filters">
         <div class="filters-wrapper">
            <!-- Filter for Trending -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Trending">
                        <div><i class="fa-solid fa-fire"></i></div>   
            
                    <p>Trending</p>
                    </button>
                </div>
            </form>
            
            <!-- Filter for Rooms -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Rooms">
                        <div><i class="fa-solid fa-bed"></i></div>
                    
                    <p>Rooms</p>
                    </button>
                </div>
            </form>
        
            <!-- Filter for Iconic Cities -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Iconic cities">
                        <div><i class="fa-solid fa-mountain-city"></i></div>
                    
                    <p>Iconic cities</p>
                    </button>
                </div>
            </form>
        
            <!-- Filter for Mountains -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Mountains">
                        <div><i class="fa-solid fa-mountain-sun"></i></div>
                    
                    <p>Mountains</p>
                    </button>
                </div>
            </form>
        
            <!-- Filter for Castle -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Castle">
                        <div><i class="fa-brands fa-fort-awesome"></i></div>
                    
                    <p>Castle</p>
                    </button>
                </div>
            </form>
        
            <!-- Filter for Amazing Pool -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Amazing pool">
                        <div><i class="fa-solid fa-person-swimming"></i></div>
                    
                    <p>Amazing pool</p>
                    </button>
                </div>
            </form>
        
            <!-- Filter for Camping -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Camping">
                        <div><i class="fa-solid fa-campground"></i></div>
                    
                    <p>Camping</p>
                    </button>
                </div>
            </form>
        
            <!-- Filter for Farms -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Farms">
                        <div><i class="fa-solid fa-cow"></i></div>
                    
                    <p>Farms</p>
                    </button>
                </div>
            </form>
        
            <!-- Filter for Arctic -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Arctic">
                        <div><i class="fa-solid fa-snowflake"></i></div>
                    
                    <p>Arctic</p>
                    </button>
                </div>
            </form>
        
            <!-- Filter for Golfing -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Golfing">
                        <div><i class="fa-solid fa-golf-ball-tee"></i></div>
                    
                    <p>Golfing</p>
                    </button>
                </div>
            </form>
        
            <!-- Filter for Lake -->
            <form action="/listing" method="GET" class="filter-form">
                <div class="filter">
                    <button type="submit" name="category" value="Lake">
                        <div><i class="fa-solid fa-water"></i></div>
                    
                    <p>Lake</p>
                    </button>
                </div>
            </form>
        </div>
        
        <!-- Tax Toggle -->
        <% if(allListings.length > 0){ %>
            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Total after taxes</label>
                </div>
            </div>
        <% } %>
    </div>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% if (allListings.length > 0) { %>
            <% for (let listing of allListings) { %>
                <a href="/listing/<%= listing._id %>" class="listing-links">
                    <div class="card listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b> <br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
                                <i class="tax-info"> &nbsp; &nbsp; +18% GST </i>
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>
        <% } else { %>
            <div class="col-12 msg text-center">
                <div class="alert alert-warning msg-alert" role="alert">
                    No listings available for this category yet. Please check back later!
                </div>
            </div>
            
        <% } %>
    </div>
    
</body>
