body{ 
        font-family: "Plus Jakarta Sans", sans-serif !important;
        font-optical-sizing: auto !important;
        font-weight: 400 !important;
        font-style: normal !important;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

.container {
    flex: 1;
}


.fa-compass {
    font-size: 2rem;
    color: #fe424d;
    line-height: 5rem;
}

.navbar {
    min-height: 5rem;
    background-color: white;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.nav-link {
    color: #222222 !important; 
}

.nav-link:hover {
    color: #fe424d !important;
    text-decoration: none;
}

.navbar-collapse {
    transition: height 0.3s ease, opacity 0.3s ease;
}


/* footer */

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}


.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebee;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


/* Cards */

.listing-card {
    border: none !important;
    margin-bottom: 1.3rem !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100 !important;
    object-fit: cover !important;
    
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-links {
    text-decoration: none;
}

/* Cards-effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn, .edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}


/* show page images */

.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* map */
#map {
   height: 400px; 
   width: 95vh;
}


.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh; /* Centers the message vertically */
    margin: 0 auto;
}

.msg-alert {
    font-size: 1.3rem; /* Increase the font size */
    padding: 2rem; /* Add padding to make the alert bigger */
}



/* new style */
